[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.4"
django-bootstrap5 = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
