{% load django_bootstrap5 %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Django 입문</title>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
<div class="container">
  <h1>장고 입문</h1>

  {% if user.is_authenticated %}
    <p>
      logged by {{ user }}
      <a href="/accounts/logout/">Logout</a>
    </p>
  {% else %}
    <a href="/accounts/login/">Login</a>
  {% endif %}

  {% block content %}
  {% endblock %}
  <hr>
  &copy; 2023. Youngjin Jo.
</div>
</body>
</html>
